
.FAANG-header {
  background-color: #F2F3F4;
  height: 150px; 
  display: flex;
  flex-direction: row;
  box-shadow: 1px 1px 20px #ABB2B9;

}

.FAANG-header > div  {
  width:100%;
  height: 100%;
  border-width:0px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(230,230,230,.7);
}

.app-header {
  height: 100px;
  border-bottom: 3px solid #797D7F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header div {
  width: 100%;
  color: #797D7F;
}

.watchlist-link {
  text-align:left;
  margin-left: 50px;
 
}
.app-title {
  text-align: center;
  font-size: 50px;
  

}

.sign-link {
  text-align: right;
  margin-right: 50px;
}

.nav {
  font-size: 20px;
}

.nav:hover {
  cursor: pointer;
  color: #86CBF9;
  transition: .5s;
}

.search-field {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.search-bar {
  width: 30%;
  height: 45px;
  border-width:1px 0px 1px 1px;
  border-style: solid;
  border-color: #ABB2B9;
  border-radius: 30px 0px 0px 30px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
  color:#797D7F;
  outline: none;
}

.search-icon {
  font-size: 15px;
  color:#797D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  width:3%;
  height: 43px;
  border-width:1px 1px 1px 0px;
  border-style: solid;
  border-color: #ABB2B9;
  border-radius: 0px 30px 30px 0px;
}

.stock-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  width:35%;
  height: 250px;
  border-width: 0px 0px 0px 3px;
  border-style: solid;
  border-color: rgba(230,230,230,1);



}

.stock-title {
  font-size: 40px;
  color:#797D7F;
}

.stock-ticker {
  font-size: 40px;
  color:#797D7F;
}

.stock-price {
  font-size: 60px;
  color: #797D7F;
  font-weight: bold;
}
.stock-percentage {
  font-size: 40px;
  color:#00FF00;
}
.market-cap-title {
  font-size: 20px;
  color: #797D7F;
}
.stock-market-cap {
  font-size: 30px;
  color: #797D7F;
  font-weight: bold;

}
.app-body {
  display: flex;
  flex-direction: row;
}
.app-body div {
  width: 100%;
}

.watchlist-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-to-watchlist-btn {
  margin-right: 20px;
  background-color: #86CBF9  ;
  border-radius: 5px;
  height: 35px;
  width:90px;
  font-size: 20px;
  border-color: #F2F3F4;
  outline: none;
  font-style: italic;
  box-shadow: 1px 1px 20px #ABB2B9;
}

.add-to-watchlist-btn:hover{
  outline: none;
}
.fa-angle-right {
  margin-left: 5px;
  font-weight: bold;
}

.FAANG-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}
.FAANG-container > div {
  width:50%;
  margin:0 auto;
}
.FAANG-title {
  font-size:25px;
  color:#797D7F;
  font-style: bold;

}
.FAANG-price {
  font-size:20px;
  color: #333;
  font-style: bold;
}

.FAANG-percentage {
  font-size: 20px;
  color: #008000; 
}
.green { color: #008000;}

.red { color: #E74C3C  ;}



/*Modal*/
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color:#ABB2B9;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {
  height:450px;
  padding: 2px 16px;
}

.modal-title {
  color: #333;
  font-size: 50px;
  text-align: center;
}
.sign-form {
  width:75%;
  height: 100%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.email-input, .password-input {
  outline: none;
  height:40px;
  width:100%;
  border-width: 0px 0px 3px 0px;
  border-color: #333;
  font-size: 25px;

}
.submit-btn {
  float: right;
  background-color: #86CBF9  ;
  border-radius: 5px;
  height: 35px;
  width:90px;
  font-size: 20px;
  border-color: #F2F3F4;
  outline: none;
  font-style: italic;
  box-shadow: 1px 1px 20px #ABB2B9; 
}

.label {
  color:#333;
  font-size: 20px;
  font-weight: bold;
}

.tabs {
  color: #797D7F;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
.sign-tab, .register-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 45px;
}


.sign-tab {
  padding-right: 10px;
  border-width: 0px 1.5px 0px 0px;
  border-color: #797D7F;
  border-style: solid; 
}
.register-tab {
  padding-left: 10px;
  border-width: 0px 0px 0px 1.5px;
  border-color: #797D7F;
  border-style: solid;
}

.sign-tab:hover, .register-tab:hover {
  color:#86CBF9;
  transition: .5s;
}

.body-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:20px;
  height: 100px;
  color:#797D7F;
  font-weight: bold;
}

.changePercent {
  margin-left: 5px;
}
.watchlist-title {
  display: flex;
  color: #797D7F;
  font-size: 50px;
  font-weight: bold;
  height: 150px;
  align-items: center;
  padding-left: 50px;
}
.watchlist-main-row {
  background-color: #86CBF9;
  font-size: 25px;
  font-weight: bold; 
}
.row {
  color: #333;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.row > div {
  width:100%;
  padding-left: 50px;
}
.watchlist-row {
  border-width: 0px 0px 1px 0px;
  border-color: #ABB2B9;
  border-style: solid;

}

.watchlist-rows:nth-child(odd) {
  background-color: #F2F3F4;
}
.bold {
  font-weight: bold;
}
.x {
  text-align: center;
  font-size: 30px;
  color: #E74C3C;

}

/*GZSIUVJPSSSR5WU5*/
